<div class="jumbotron hunter"></div>
<section>
  <h1 class="text-center text-primary bg-primary section-header">History
  </h1>
</section>
<section class="isara-history">
  <div class="container">
    <div class="row history-text">
      <div class="col-md-10 col-md-offset-1">
        <p>Isara-Remo was founded by a hunter who was an Ife Prince. Prince Adeyemo had wandered into the hinterlands hunting for game. History has it that since Prince Adeyemo had little or no chance at all of attaining the throne, he elected to create his
          own living away from the palace and on getting to what is now called 'Okerekere' in present day Isara, he found the site suitable due to its defensive topography and decided to settle there. He had in his entourage two men of repute; Ise and Ara who
          were his advisers. Both men settled in locations not to far from each other and the saying 'I am going to Ise and Ara' - mo fe lo si odo Ise ati Ara - was soon contracted into 'I am visiting Ise-Ara' -mo fe lo ri Ise-Ara. This is where the name of
          the town was eventually coined to Isara (from Ise-Ara) in honor of those great men. After settling in the location, because he was a Prince, he became the de-facto King of the town and took the title Ode-omo. The title has since been contracted into
          Odemo and remains the official title of the Oba. Till date, all Obas of Isara have gotten their official emblems and crowns from Ile -Ife.
        </p>
        <p>A town of predominantly farmers and hunters, the men of Isara-Remo have not been known to take part in any major wars except as peacemakers. The city has been called "Isara city of joy." An old saying describes it as "Isara afotamodi, ko'gun ma wo
          'lu," which roughly translates into "Isara of the impregnable city walls".
        </p>
        <p>The present-day Isara has seven royal households, which include: Igan, Rokodo-Erinshiba, Ogunshere-gbuko, Afonlade, Poke Bi Owu'la, Ayoledoye and Ojo Ko B'oye. In an ancient traditional rotation system, each family takes turns to present its
          preferred son or candidate to serve as the Odemo of Isara.
        </p>
        <p>The population practices Christianity and Islam in similar proportions. Its people still practice the Egungun, Oro, Agemo and other traditional celebrations.
        </p>
      </div>
    </div>
  </div>
  <section>
    <h1 class="text-center text-primary bg-primary section-header">Zones &amp; Villages</h1>
  </section>
  <div class="container">
    <div class="row history-text">
      <div class="col-md-10 col-md-offset-1">
        <p>There are Nine Zones consisting of about 179 villages under the purview and Prescribed Authority of the Odemo. Each zone is headed by a substantive Baale that is always installed by the Odemo. Majority of these regions were originally independent
          communities with their own traditional Obas. The communities were devasted by the inter-tribal wars of 1927-30 hence their mergers with Isara. They have their own deities and what it takes to be townships, such as, Osugbo, Iledi, Igbo Oro, Egungun,
          Agemo, Eluku, etc. The zones and villages are:
        </p>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <ol>
          <li>Iresi/Odofin Zone - 15 villagesOdofin, Ojokoro, Ogunbode, Iresi Lagbaana, Iresi Bata, Iresi Ogooro, Iresi Saka, Ale Gomina-Ajayi, Aborishade, Aboosu, Sanusi, Gbabi, Oge-Oke-Abemu and Senkenrenmene
          </li>
          <li>Itakete Zone - 35 villagesOsu, Asenuga, Ogunubi, Eribi, Olowo, Amodu, Oduwale, Jongo, Jamba, Opa-Odude, Oyewo, Lausi Osuseyi, Lemo Yesufu, Agbeja, Oyemosu, Apaloje, Nighty, Ogun Banigbe, Adegbolu, Sonowo, Jomu, Igbadun, Likosi, Saji, Imorisa,
            Bilesanmi, Oba Ayoledoye, Yegho, Oselu, Ogunnusi, Lodesoku, Odunowo, Odujoko and Olota
          </li>
          <li>Aare Zone - 11 villagesAare Alakosu, Odusina, Boriaye Edubiege, Awofile, Kongi, Ekerin Ogunsona, Mabekoje, Bolorunosi, Fajebe and Yinusa Ogundein
          </li>
          <li>Orita Imope Zone - 3 villagesLusokan, Sodipe and Awonusi
          </li>
          <li>Irisha-Peteku-Dawara Zone - 30 villagesOlopaarun, Iyapo, Seriki, Imogu, Irisha, Jewayo, Oyeti, Ladejobi, Peteku-Sokabi, Peteku-Olisa, Peteku-Anowo, Peteku-Igba, Dawara, Gomina, Kairo, Badaru, Erikurudu, Ajegunle, Bamgbopa, Jiboso, Oliwo Deno, Iya
            Olorisa, Ayembe, Dodo, Iyowun, Gbegiri, Ebugan, Aasa, Itapon Soyibo and Tabiaka
          </li>
          <li>List ItemEliju Zone - 23 villagesTesi, Opakere, Gbolugboye, Owonupe, Alara, Ori Agan, Aro, Jomu, Adeyoruwa, Ajagba Oloro, Eluju Sonaya, Oloworo, Idera, Likosi, Oke Eri, Ogedengbe, Oliwo, Ajolo, Soore, Erimobi, Sopade, Opajobi and Ojikonedun</li>
          <li>Iyankan Zone - 31 villagesGbejulapa Shinuga, Alamure, Afofu Lembe, Agbala Onayemi, Gbasemo, Laare, Asanre, Koromi, Bayedo, Oladuke, Olayungbo, Giwa Aaromi, Olokuta Kekere, Olokuta Nla, Jowoje Degate, Egunfoye, Silalu, Adenuwe, Sotikare, Olagunju,
            Aniwe Apena, Pitimomo, Ajeji Kooto, Sofolabo, Jobi Ijebu, Dodo, Ogunwale, Elemila, Sofowobi and Ladunni Item</li>
          <li>Odo Zone - 5 villagesOdo Nla, Odo Oloro, Odo Odubajo (Kokoro), Lapeni and Odo Sakila
          </li>
          <li>Imagbon Zone - 26 villagesAjade, Osiyemi, Oloosa, Oba, Asiru, Sodipe, Logu, Awonusi, Ogunsanya, Akewe, Ajanaku, Abosu, Idi Osan, Balogun, Aija, Oliwo, Santere, Alagbe, Banmu, Apena, Oyeata, Elepo, Ajayi Egba, Oke Efi, Akoparo and Onibembe.
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
