<div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-1"></div>
                <div class="swiper-slide slide-2"></div>
                <div class="swiper-slide slide-3"></div>
                <div class="swiper-slide slide-4"></div>
                <div class="swiper-slide slide-5"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

<section class="main-content-container">
  <section class="testimonials isara-bio-container">
    <h2 class="text-center isara-bio-container__header">"The City set on a hill and can't be hid"</h2>
    <blockquote>
      <p class="isara-short-bio">Isara-Remo is a beautiful city in Ogun State located just between the Heart of Nigeria, Lagos and Ibandan. The city which is built around a range of hills is bounded by ridges and has one of the most beauriful scenery in
        the state. One of the largest cities in Ogun state, it is known for its seasoned farmers, its rich agricultural output and its vast minieral resources ranging from Clay, Granite to Sand. These are just but a few of the reasons that make Isara-Remo a
        national treasure.</p>
      <footer></footer>
    </blockquote>
    <div class="horizontal-rule"></div>
  </section>
  <section class="sub-pages">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-2 indigenes">
          <%= link_to 'Notable Indigenes', page_path(id: 'indigenes') %>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 culture">
              <a href="#">Culture &amp; Lifestyle</a>
            </div>
          </div>
            <div class="col-md-12 history">
              <%= link_to 'History & Villages', page_path(id: 'history') %>
            </div>

          <div class="row"></div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="features events">
  <div class="print-border"></div>
  <h1 class="text-uppercase text-center">Upcoming Events</h1>
  <div class="horizontal-rule"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="thumbnail">
          <img src="<%= asset_path('isara-festival.jpg') %>">
          <h3 class="text-center">Afotamodi 2017</h3>
          <div class="caption">
            <p>September 30th 2017 - October 7th 2017</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="print-border"></div>
</section>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5>Isara-Remo | Afotamodi 2017</h5>
      </div>
      <div class="col-sm-6 social-icons">
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
